{:paths ["src" "resources" "classes"]
 :deps  {org.clojure/clojure     {:mvn/version "1.11.1"}
         ring/ring-core          {:mvn/version "1.9.5"}
         ring/ring-jetty-adapter {:mvn/version "1.9.5"}
         ring/ring-json          {:mvn/version "0.5.1"}
         ring-cors/ring-cors     {:mvn/version "0.1.13"}
         integrant/integrant     {:mvn/version "0.8.0"}
         clj-http/clj-http       {:mvn/version "3.12.3"}
         metosin/reitit          {:mvn/version "0.5.18"}
         tick/tick               {:mvn/version "0.5.0-RC2"}}

 :aliases {:repl
           {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.3"}}
            :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
